<br />
<br />
<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Northwind</h1>
    <p class="lead">Aplicación de Gestión de Northwind Inc.</p>
    <hr class="my-4" />
    <img src="https://www.logomyway.com/logos_new/4899/Global.jpg" alt="" class="img-thumbnail" />
</div>
